.main {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 120px;
    z-index: 0;
}

.our-tutors-title {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.tutor-display {
    display: flex;
    flex-direction: column;
}

.subject-search-title {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
}

.single-tutor-display {
    background-color: #f2f5f8;
    display: flex;
    flex-direction: row; 
}

.tutor-info {
    display: flex;
    flex-direction: column;
}

.tutor-name,
.tutor-email,
.tutor-age,
.tutor-subjects-title,
.tutor-subjects-body,
.tutor-bio-title,
.tutor-bio-body,
.tutor-availability-title,
.tutor-availability-body {
    margin-right: 60px;
}

.tutor-image-box {
    display: flex;
    width: 300px;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
    align-items: center;
}

.tutor-image {
    width: 300px;
}

.tutor-name {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
}

.tutor-subjects-title, 
.tutor-bio-title,
.tutor-availability-title {
    font-size: 20px;
    margin-top: 10px;
}

.tutor-subjects-body {
    font-size: 16px;
}

.tutor-bio-body,
.tutor-availability-body {
    font-size: 18px;
}

.tutor-availability-body {
    margin-bottom: 20px;
}

@media(max-width: 999px) {
    .tutor-subjects-body {
        font-size: 12px;
    }
}

@media(min-width: 1000px) and (max-width: 1300px) {
    .tutor-subjects-body {
        font-size: 14px;
    }
}

